// TODO
.posts {
  margin: 0 auto;
  padding: 0 2rem;

  a {
    display: block;

    & + a {
      margin-top: 2rem;
      padding-top: 2rem;
    }

    &:hover strong {
      color: var(--pink-900);
    }
  }
  
  strong {
    color: var(--gray-50);
    font-size: 1.75rem;
    font-weight: 700;
  }

  p {
    margin-top: .5rem;
    font-size: 1.125rem;
  }
}

.loadMore {
  margin-top: 3rem;

  font-size: 1.125rem;
  font-weight: 600;
  color: var(--pink-900);

  background: none;
  border: none;

  &:hover {
    text-decoration: underline;
  }
}