// TODO
.post {
 & > div + div {
   margin-top: 5rem;
 }

 h1 {
   font-size: 3rem;
   font-weight: 700;
 }
}

.postContent {
  margin: 4rem 0;
  font-size: 1.125rem;

  section {
    h2 {
      font-size: 2.25rem;
      font-weight: 700;
      margin-bottom: 1.5rem;
    }
    
    :not(h2) {
      & + & {
        margin-top: .5rem;
      }
    }

    & + section {
      margin-top: 3.5rem;
    }
  }
}

.banner {
  width: 100%;
  height: 25rem;
  background-size: cover;
}